<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      <ul>
        <li>{{ ventasNetas | number: "1.2-2" }} €</li>
        <li>$ {{ ventasNetas + 1000000 | number: "1.2-2":"en" }}</li>
      </ul>
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">
      <ul>
        <li>{{ ventasNetas | currency:'EUR':'symbol-narrow':'1.4-4' }}</li>
        <li>{{ ventasNetas | currency:'USD':'symbol':'1.4-4' }}</li>
      </ul>
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      <ul>
        <li>{{ porcentaje | percent }}</li>
        <li>{{ porcentaje | percent:'1.2-2' }}</li>
      </ul>
    </p-card>
  </div>
</div>
